/Binaries
/Documentation/obj
/Documentation/Output
/packages
/Sources/FileArchiver.Archive.GZip/obj
/Sources/FileArchiver.Archive.SevenZip/obj
/Sources/FileArchiver.Archive.Tar/obj
/Sources/FileArchiver.Archive.Zip/obj
/Sources/FileArchiver.ContextMenu/obj
/Sources/FileArchiver.Core/obj
/Sources/FileArchiver.Presentation/obj
/Tests/FileArchiver.Archive.SevenZip.Tests/bin
/Tests/FileArchiver.Archive.SevenZip.Tests/obj
/Tests/FileArchiver.Core/bin
/Tests/FileArchiver.Core/obj
/Tests/FileArchiver.Presentation/bin
/Tests/FileArchiver.Presentation/obj
/FileArchiver.v12.suo
